<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add-product</title>
</head>
<body>
    <a href="/admin/products">Вернуться к товарам</a>
    <form method="post" action="/admin/products/add-product" enctype="multipart/form-data">
        <label for="">Название</label>
        <input type="text" name="title" value="<%= title %>" placeholder="Title" required>
        <br><br>
        <label for="">Артикул</label>
        <input type="text" name="article" value="<%= article %>" placeholder="Article" required>
        <br><br>
        <label for="">Sex</label>   
        <select name="sex">
            <option value="мужские">мужские</option>
            <option value="женские">женские</option>
        </select>
        <label for="">Price</label>
        <input type="number" name="price" value="<%= price %>" placeholder="price" required>
        <br><br>
        <label for="">Сезон</label>
        <select name="season">
            <option value="winter">Зима</option>
            <option value="summer">Лето</option>
            <option value="demiseason">Демисезон</option>
            <option value="multi">Мульти</option>
        </select>
        <label for="">Категория</label>
        <select name="category">
            <% categories.forEach( (cat) => { %>
                <option value="<%= cat.slug %>"><%= cat.title %></option>
            <% }); %>
        </select>
        <label for="">Бренд</label>
        <select name="brand">
            <% brands.forEach( (brand) => { %>
                <option value="<%= brand.slug %>"><%= brand.title %></option>
            <% }) %>
        </select>
        <label for="">Количество пар</label>
        <input type="number" name="stock" value="<%= stock %>" placeholder="кол-во" required>
        <input type="file" name="image" id="img">
        <img src="#" alt="Картинка" id="imgPreview">

        <button>Добавить</button>    
    </form>
    <script src="/js/jquery.js"></script>
    <script>
    
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                
                reader.onload = function(e) {
                    $("#imgPreview").attr('src', e.target.result).width(100).height(100);
                }
                
                reader.readAsDataURL(input.files[0]);
            }
        }
        
        $("#img").change(function() {
            readURL(this);
        });
        
    </script>
</body>
</html>